*.o
*.log
*.nsi
*.lo


*.in
*.m4
*.guess
*~



Makefile
autom4te.cache/
config.h
config.status
doc/Makefile
libtool
src/Makefile
src/linuxtrack.pc
src/local_config.h
src/mac/Info.plist
src/mac/Makefile
src/mickey/mickey.pro
src/osc_server_mac/Makefile
src/osc_server_mac/OscServer-Info.plist
src/pathconfig.h
src/qt_gui/ltr_gui.pro
src/wii_server/wii_server.pro
src/wine_bridge/Makefile
src/wine_bridge/client/Makefile
src/wine_bridge/controller/Makefile
src/wine_bridge/ft_client/Makefile
src/wine_bridge/ft_tester/Makefile
src/wine_bridge/ft_tester/fttester.rc
src/wine_bridge/tester/Makefile
src/wine_bridge/tester/npview.rc
src/wine_bridge/views/Makefile
stamp-h1


src/.libs/
src/liblinuxtrack.la
src/libltr.la
src/ltr_recenter
src/ltr_server1