*.o
*.log
*.nsi
*.lo


*.in
*.m4
*.guess
*~



Makefile
autom4te.cache/
config.h
config.status
doc/Makefile
libtool
src/Makefile
src/linuxtrack.pc
src/local_config.h
src/mac/Info.plist
src/mac/Makefile
src/mickey/mickey.pro
src/osc_server_mac/Makefile
src/osc_server_mac/OscServer-Info.plist
src/pathconfig.h
src/qt_gui/ltr_gui.pro
src/wii_server/wii_server.pro
src/wine_bridge/Makefile
src/wine_bridge/client/Makefile
src/wine_bridge/controller/Makefile
src/wine_bridge/ft_client/Makefile
src/wine_bridge/ft_tester/Makefile
src/wine_bridge/ft_tester/fttester.rc
src/wine_bridge/tester/Makefile
src/wine_bridge/tester/npview.rc
src/wine_bridge/views/Makefile
stamp-h1


src/.libs/
src/liblinuxtrack.la
src/libltr.la
src/ltr_recenter
src/ltr_server1

.vscode/
src/libfacetrack_int.la
src/libfakeusb.la
src/libft.la
src/libjoy.la
src/liblinuxtrack32.la
src/liblinuxtrack_int.la
src/libmacwii.la
src/libp3e.la
src/libp3eft.la
src/libwc.la
src/ltr_extractor
src/ltr_pipe
src/mickey/.qmake.stash
src/mickey/help.qch
src/mickey/help.qhc
src/mickey/mickey
src/mickey/moc_help_view.cpp
src/mickey/moc_help_viewer.cpp
src/mickey/moc_hotkey.cpp
src/mickey/moc_hotkey_setup_dlg.cpp
src/mickey/moc_keyb.cpp
src/mickey/moc_mickey.cpp
src/mickey/moc_my_line_edit.cpp
src/mickey/moc_predefs.h
src/mickey/moc_transform.cpp
src/mickey/qrc_mickey.cpp
src/mickey/ui_calibration.h
src/mickey/ui_chsettings.h
src/mickey/ui_hotkey.h
src/mickey/ui_hotkey_setup.h
src/mickey/ui_logview.h
src/mickey/ui_mickey.h
src/qt_gui/.qmake.stash
src/qt_gui/help.qch
src/qt_gui/help.qhc
src/qt_gui/ltr_gui
src/qt_gui/ltr_gui.gch/
src/qt_gui/moc_device_setup.cpp
src/qt_gui/moc_downloading.cpp
src/qt_gui/moc_extractor.cpp
src/qt_gui/moc_glwidget.cpp
src/qt_gui/moc_guardian.cpp
src/qt_gui/moc_help_view.cpp
src/qt_gui/moc_help_viewer.cpp
src/qt_gui/moc_joy_prefs.cpp
src/qt_gui/moc_log_view.cpp
src/qt_gui/moc_ltr_dev_help.cpp
src/qt_gui/moc_ltr_gui.cpp
src/qt_gui/moc_ltr_model.cpp
src/qt_gui/moc_ltr_profiles.cpp
src/qt_gui/moc_ltr_show.cpp
src/qt_gui/moc_ltr_state.cpp
src/qt_gui/moc_macps3eye_prefs.cpp
src/qt_gui/moc_macps3eyeft_prefs.cpp
src/qt_gui/moc_plugin_install.cpp
src/qt_gui/moc_predefs.h
src/qt_gui/moc_profile_selector.cpp
src/qt_gui/moc_profile_setup.cpp
src/qt_gui/moc_progress.cpp
src/qt_gui/moc_scp_form.cpp
src/qt_gui/moc_scurve.cpp
src/qt_gui/moc_scview.cpp
src/qt_gui/moc_tir_prefs.cpp
src/qt_gui/moc_tracker.cpp
src/qt_gui/moc_webcam_ft_prefs.cpp
src/qt_gui/moc_webcam_prefs.cpp
src/qt_gui/moc_wiimote_prefs.cpp
src/qt_gui/moc_window.cpp
src/qt_gui/moc_wine_launcher.cpp
src/qt_gui/moc_wine_warn.cpp
src/qt_gui/moc_xplugin.cpp
src/qt_gui/qrc_ltr_rc.cpp
src/qt_gui/ui_cap_edit.h
src/qt_gui/ui_cap_tweaking.h
src/qt_gui/ui_clip_edit.h
src/qt_gui/ui_clip_tweaking.h
src/qt_gui/ui_dev_help.h
src/qt_gui/ui_device_setup.h
src/qt_gui/ui_extractor.h
src/qt_gui/ui_joy_setup.h
src/qt_gui/ui_l_wc_setup.h
src/qt_gui/ui_l_wcft_setup.h
src/qt_gui/ui_logview.h
src/qt_gui/ui_ltr.h
src/qt_gui/ui_ltr_gui.h
src/qt_gui/ui_m_ps3eye_ft_setup.h
src/qt_gui/ui_m_ps3eye_setup.h
src/qt_gui/ui_model_creation.h
src/qt_gui/ui_model_edit.h
src/qt_gui/ui_profile_selector.h
src/qt_gui/ui_profile_setup.h
src/qt_gui/ui_progress.h
src/qt_gui/ui_scp_form.h
src/qt_gui/ui_scurve.h
src/qt_gui/ui_single_edit.h
src/qt_gui/ui_tir_setup.h
src/qt_gui/ui_wii_setup.h
src/qt_gui/ui_wine_warn.h
src/qt_gui/ui_xplugin.h
